@intersection-width: 30px;
@stone-width: 20px;

#grid-canvas {
  position: absolute;
  z-index: 0;
}

#render-target {
  position: relative;
  text-align: center;
  z-index: 1;
}

.board-row {
  display: block;
  height: 30px;
}

.intersection {
  box-sizing: border-box;
  display: inline-block;
  padding: (@intersection-width - @stone-width) / 2;
  width: @intersection-width;
  height: @intersection-width;
  border-radius: 50%;
}

.stone-mixin {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: @stone-width;
  height: @stone-width;
  border-radius: 50%;
  border: 1px solid black;
}
.stone-black {
  .stone-mixin;
  background-color: black;
}

.stone-white {
  .stone-mixin;
  background-color: white;
}

.no-stone {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: @stone-width;
  height: @stone-width;
  border-radius: 50%;
}

.hover-empty-mixin {
  .stone-mixin;

  cursor: pointer;
  opacity: 0.5;
  transition: background-color 0.5s ease, border 0.5s ease;
}

.hover-empty-black {
  .hover-empty-mixin;
  background-color: black;
}
.hover-empty-white {
  .hover-empty-mixin;
  background-color: white;
}