@intersection-width: 30px;
@stone-width: 20px;

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: italic;
  src: url('fonts/OpenSans-Italic.ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
  src: url('fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: "Indie Flower";
  font-weight: normal;
  font-style: normal;
  src: url('fonts/IndieFlower.ttf');
}

p, td, span, button, li, a {
  font-family: 'Open Sans';
}

h1, h2, h3 {
  font-family: 'Indie Flower';
}

body {
  background: url("/bg.png");
}

button {
  padding: 2px 4px;
  margin: 2px;
}

#flex-container {
  display: flex;
  flex-direction: row;
}

#main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#left-sidebar {
  padding: 5px 10px;
  margin: 0px 10px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.6);
  max-width: 300px;
  flex: 1 1 auto;
}

#left-sidebar h1 {margin-bottom: 5px; margin-top: 10px;}
#left-sidebar h2 {margin-bottom: 5px; margin-top: 10px;}
#left-sidebar p {margin-bottom: 10px; margin-top: 10px;}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 10px;
  flex: 2 0 auto;
}

#owner-choose-role {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#owner-choose-role button {
  font-family: 'Indie Flower';
  font-size: 200%;
  margin: 10px;
}

#game-info {
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

#game-info p {margin: 0px;}

#game-info i.fa {vertical-align: top;}

#end-game-text h2 {font-family: "Open Sans"; margin: 7px 0px;}
#end-game-text table {display: inline-block;}
#end-game-text table td {padding: 1px 10px;}
#end-game-text table .score {font-weight: bold;}

#flash-messages {
  position: fixed;
  text-align: center;
  width: 100%;
  font-size: 120%;
  z-index: 10;
}

.flash-message-mixin {
  margin: 10px;
  padding: 15px 30px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
}

#flash-messages .warning {
  .flash-message-mixin;
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

#flash-messages .error {
  .flash-message-mixin;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

#flash-messages .info {
  .flash-message-mixin;
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

#flash-messages .success {
  .flash-message-mixin;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.turn-indicator-mixin {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.5);
}
.turn-indicator-white {
  .turn-indicator-mixin;
  background-color: white;
}
.turn-indicator-black {
  .turn-indicator-mixin;
  background-color: black;
}

td.invisible {
  visibility: hidden;
}

#game-actions {
  margin: 10px;
}

#game-actions button {
  font-family: 'Indie Flower';
  font-size: 120%;
}

#grid-canvas {
  border-radius: 5px;
  position: absolute;
  z-index: 0;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.6);
}

.hidden {display: none;}

#render-target {
  position: relative;
  text-align: center;
  z-index: 1;
}

.board {
  display: inline-block;
}
.board-row {
  height: 30px;
}

.intersection {
  box-sizing: border-box;
  display: inline-block;
  padding: (@intersection-width - @stone-width) / 2;
  width: @intersection-width;
  height: @intersection-width;
  border-radius: 50%;
}

.stone-mixin {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: @stone-width;
  height: @stone-width;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.6);
}
.stone-black {
  .stone-mixin;
  background-color: black;
}

.stone-white {
  .stone-mixin;
  background-color: white;
}

.no-stone {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: @stone-width;
  height: @stone-width;
  border-radius: 50%;
}

.hover-empty-mixin {
  .stone-mixin;

  cursor: pointer;
  opacity: 0.5;
  transition: background-color 0.5s ease, border 0.5s ease;
}

.hover-empty-black {
  .hover-empty-mixin;
  background-color: black;
}
.hover-empty-white {
  .hover-empty-mixin;
  background-color: white;
}

.loading-with-text {
  text-align: center;
}

.loading-spinner {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("/spinner.gif");
  background-repeat: no-repeat;
}

